{% assign books = site.data.books %}
{% for item in books %}
{% if item.book == page.title %}
<div class="container ">
<section class="columns mx-6 mt-3">

  <div class="column is-one-third">

          <figure class="image is-2by3 ">
            <img src="{{ item.cover }}" alt="{{ item.book | append: "cubierta de" }}"
          </figure>
  </div>
  <div class="column ml-2 mr-6">

          <p class="title">{{ item.book }}</p>
          <p class="subtitle">{{ item.author }}</p>
          <p class="content">{{ item.description }}
  </div>
{% endif %}
{% endfor %}

</section>
</div>
