

{% assign books = site.data.books %}
<section>
<div class="columns is-multiline is-centered m-6">

{% for item in books %}

        <article class="column is-2">
          <figure class="image is-2by3">
            <img src="{{ item.cover }}"  />
          </figure>
          <p class="title is-size-5 has-text-centered">{{ item.book }}</p>
          <p class="subtitle is-size-6 has-text-centered has-text-weight-light">{{ item.author }}</p>
        </article>

  {% endfor %}

      </div>
      </section>
