---
---

// Import Main CSS file from theme
@import "main";

$hero-body-padding:  1.5rem !default
$hero-body-padding-small: 0.5rem !default
$hero-body-padding-medium: 3rem 1.5rem !default
$hero-body-padding-large: 5rem 1.5rem !default
